.services {

  &__wrapper {
    margin: 60px auto 0;
  }

  &__topBlock {
    background: $gradient_supersoft;
  }

  &__header {
    @extend %h1FontStyle;
    background: $gradient_red_text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 60px 0;

    @include onMobile {
      margin: 0 0 30px 0;
    }
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
 
    @include onMobile {
     flex-direction: column;
     align-items: center;
    }
  }

  &__item {
    width: calc((100% - 120px) / 3);

    @include onTablet {
      width: calc((100% - 120px) / 2);
    }

    @include onMobile {
      width: 100%;
    }
  }

  &__icon {
    margin-bottom: 30px;
  }

  &__title {
    color: $color_regular;
    @extend %h3FontStyle;
    margin: 0 0 15px 0;
    text-decoration: none;

    &:hover {
      color: $color_accent;
    }
  }

  &__description {
    max-width: 492px;
    @extend %paragraphFontStyle;
    color: $color_basic_white;
  }
}