@import './Publication/index.scss';

.publications-main {
  padding: 30px 0;
  background: $color_bg;

  &__header {
    @extend %h1FontStyle;
    background: $gradient_red_text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 30px 0;
  }

  &__block {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__item {
    width: calc((100% - 60px) / 3);
    flex-grow: 1;

    @include onTablet {
      width: calc((100% - 30px) / 2);
    }

    @include onMobile {
      width: 100%;
    }
  }
}