@mixin linkStyle($color) {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color;
}

@mixin onDeskTop {
  @media (max-width: 1440px) {
    @content;
  }
  
}

@mixin onTablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 768px) {
    @content;
  }
}