@import './AboutMainInfo/AboutMainInfo.scss';
@import './AboutTeam/AboutTeam.scss';
@import './Achievements/Achievements.scss';

.about {
  padding: 60px 0 0 0;

  &__mainBlock {
    width: 90%;
    margin: 0 auto 60px;

    @include onMobile {
      margin: 0 auto 30px;
    }
  }

  &__team {
    width: 100%;
  }
}